<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.ues.fia.eisi.app_proyecto01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_proyecto01">
        <activity
            android:name=".EliminarParticularActivity"
            android:exported="false" />
        <activity
            android:name=".ConsultarParticularActivity"
            android:exported="false" />
        <activity
            android:name=".EditarParticularActivity"
            android:exported="false" />
        <activity
            android:name=".InsertarParticularActivity"
            android:exported="false" />
        <activity
            android:name=".MenuCicloActivity"
            android:exported="false" />
        <activity
            android:name=".CatalogoAcademicoActivity"
            android:exported="false" />
        <activity
            android:name=".MenuParticular"
            android:exported="false" />
        <activity
            android:name=".MenumiembroUniversitario"
            android:exported="false" />
        <activity
            android:name=".MenuMateria"
            android:exported="false" />
        <activity
            android:name=".MenuLocal"
            android:exported="false" />
        <activity
            android:name=".MenuListaHorario"
            android:exported="false" />
        <activity
            android:name=".MenuHorario"
            android:exported="false" />
        <activity
            android:name=".MenuEscuela"
            android:exported="false" />
        <activity
            android:name=".MenuListaEquipo"
            android:exported="false" />
        <activity
            android:name=".MenuEquipoDidactico"
            android:exported="false" />
        <activity
            android:name=".MenuDetalleOferta"
            android:exported="false" />
        <activity
            android:name=".MenuOfertaAcademica"
            android:exported="false" />
        <activity
            android:name=".MenuCarrera"
            android:exported="false" />
        <activity
            android:name=".MenuAsistencia"
            android:exported="false" />
        <activity
            android:name=".MenuDetalleActividad"
            android:exported="false" />
        <activity
            android:name=".ActividadMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>